Integration Google Sheets, Groq, Gmail.blueprint.json
{
    "name": "Integration Google Sheets, Groq, Gmail",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6262250,
                "mode": "select",
                "includesHeaders": true,
                "limit": 5,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "from": "drive",
                "spreadsheetId": "/1jMs5QoPvL6e1r_N36ARsWIm6q9DKekN-kApfip4qb6I",
                "sheetId": "Form responses 1",
                "tableFirstRow": "A1:Z1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -433,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (meghad1705@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "story builder>> (Responses)"
                            ]
                        },
                        "sheetId": {
                            "label": "Form responses 1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Timestamp (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Email address (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Prompt for a story........ (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "(D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "groq:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "mapper": {
                "model": "openai/gpt-oss-120b",
                "textPrompt": "create a story on{{1.`2`}}"
            },
            "metadata": {
                "designer": {
                    "x": -133,
                    "y": -11
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "GPT OSS 120BPowerful, open-source model built for complex logic puzzles and high-level reasoning tasks"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "openai/gpt-oss-120b",
                                "openai/gpt-oss-20b"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 6266729
            },
            "mapper": {
                "to": [
                    "{{1.`1`}}"
                ],
                "subject": "the story for ur prompt..",
                "bodyType": "collection",
                "contents": [
                    {
                        "text": "{{2.result}}",
                        "image": {}
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 167,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gmail connection (meghad1705@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Collection of contents (text, images, etc.)"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "signature": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment",
                            "name": "value"
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "emailHeaders",
                        "type": "array",
                        "label": "Additional email headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Body contents",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content",
                            "name": "value"
                        }
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment",
                            "name": "value"
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "CC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "BCC recipients",
                        "spec": {
                            "type": "email",
                            "label": "Recipient email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "emailHeaders",
                        "type": "array",
                        "label": "Additional email headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Body contents",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content",
                            "name": "value"
                        }
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}